@import "~@/lib/reset.scss";
[v-cloak] {
    display: none;
}

.container {
    .content {
        h3 {
            font-size: 0.2rem;
            padding: 0.04rem 0;
            line-height: 140%;
            font-weight: bold;
            text-align: center;
        }
        p {
            padding: 0.04rem 0.1rem;
        }
        img {
            margin: 0.1rem auto 0 auto;
            display: block;
            max-width: 100%;
            height: auto;
        }
        a {
            text-decoration: none;
            color: #00afc7;
            font-weight: normal;
        }
        h4 {
            margin: 0.2rem 0;
            font-size: 0.16rem;
            font-weight: bold;
            text-align: center;
        }
    }
}